# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.html text
*.css text
*.js text
*.json text
*.md text
*.xml text
*.yml text
*.yaml text
*.txt text
*.svg text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
